/*
 *
 * MMM-test
 *
 * 
 * MIT Licensed.
 *
 * Custom here your css module
 *
 */
 .icon {
    height: auto; 
    width: auto; 
    max-width: 150px; 
    max-height: 150px;
}

.Mytable {
    font-family: arial, sans-serif;
    border: 0px solid #dddddd;
    border-collapse: collapse;
    text-align: center;
}

.Mytd {
    border: 0px solid #dddddd;
    padding-left: 10px;
    padding-right: 10px;
}

.Myth {
    border: 0px solid #dddddd;
    text-align: center;
    background-color: #000000;
    color: rgb(255, 255, 255);
    font-weight: normal;
    padding-left: 10px;
    padding-right: 10px;
}

.Mythg {
    border: 0px solid #dddddd;
    text-align: left;
    background-color: #000000;
    color: rgb(255, 255, 255);
    font-weight: normal;
    padding-left: 0px;
    padding-right: 10px;
}

.Mytr:nth-child(even) {
    background-color:  #000000;
}

.Mystatus {
    background-color:  #000000;
    text-align: left;
}

.trB:nth-child(even) {
    background-color: #000000;
    color:rgb(231, 149, 35);
}

.delay {
    background-color: #000000;
    color:rgb(231, 149, 35);
    text-align: left;
}

.divider {
    background-color: #000000;
    color: rgb(255, 255, 255);
    border-color: #000000;
    border: none; 
    text-align: center;
}

.Mytr:nth-child(odd) {
    background-color: #000000;
}

.trB:nth-child(odd) {
    background-color: #000000;
    color:rgb(231, 149, 35);
}

.symbol {
    display: inline-block;
    height: 25px;
    width: 25px;
    -ms-transform: translate(0, 2px); /* IE 9 */
    -webkit-transform: translate(0, 2px); /* Safari */
    transform: translate(0, 2px);
}

.tag {
	width: 25px;
    height: 25px;
	-webkit-filter: grayscale(100%);